.main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.results{
    display: flex;
    flex-direction: column;
    padding: 50px 90px;
    width: 100%;
    &_title{
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 20px;
        span{
            color: $color-primary;
        }
    }
    &_subTitle{
        font-size: 1.125rem;
        font-weight: 400;
    }
}

.charts{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "activity activity activity nutrients"
    "duration performance score nutrients";
    gap: 30px;
}

.charts > div{
    min-height: 100px;
}

.test5{
    background-color: orange;
    grid-area: score;
    min-height: 100px;
}