* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#root {
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  min-height: 780px;
  max-height: 1024px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  margin: 0;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper h1 {
  font-size: 15rem;
  font-weight: 700;
  color: #FF0101;
}
.wrapper h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #74798C;
}

.headerNav {
  background-color: black;
  min-height: 55px;
  height: auto;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 87px 0 26px;
}
.headerNav img {
  height: 35px;
}
@media screen and (min-width: 1300px) {
  .headerNav img {
    height: 57px;
  }
}
@media screen and (min-width: 1300px) {
  .headerNav {
    min-height: 91px;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.asideNav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 250px 50px;
  width: 117px;
  min-width: 117px;
  background-color: black;
}
.asideNav nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 316px;
}
.asideNav nav a {
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.asideNav nav a img {
  width: 32px;
}
.asideNav .copyright {
  color: white;
  font-size: 0.75rem;
  display: flex;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
}
@media screen and (min-width: 1400px) {
  .asideNav {
    display: flex;
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.results {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  width: 100%;
}
.results_title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.results_title span {
  color: #FF0101;
}
@media screen and (min-width: 1300px) {
  .results_title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}
.results_subTitle {
  font-size: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 1300px) {
  .results {
    padding: 50px 90px;
  }
}

.charts {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "activity activity nutrients" "duration performance score";
  gap: 15px;
}
@media screen and (min-width: 1300px) {
  .charts {
    margin-top: 70px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "activity activity activity nutrients" "duration performance score nutrients";
    gap: 30px;
  }
}

.nutrients {
  grid-area: nutrients;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nutrients li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #FBFBFB;
  border-radius: 5px;
}
@media screen and (min-width: 1300px) {
  .nutrients li {
    padding-left: 32px;
    margin-bottom: 39px;
    height: 124px;
  }
}
.nutrients li .icon {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.nutrients li .icon img {
  width: 19px;
}
.nutrients li:last-child {
  margin-bottom: 0;
}
.nutrients h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #282D30;
}
.nutrients p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #74798C;
}
.nutrients_calories {
  background: rgba(255, 0, 0, 0.1);
}
.nutrients_proteines {
  background: rgba(74, 184, 255, 0.1);
}
.nutrients_carbs {
  background: rgba(227, 182, 6, 0.1);
}
.nutrients_fats {
  background: rgba(253, 81, 129, 0.1);
}

.sessionDuration {
  background-color: #FF0101;
  grid-area: duration;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  height: 263px;
  position: relative;
  padding-top: 75px;
  padding-bottom: 20px;
}
.sessionDuration h2 {
  position: absolute;
  top: 29px;
  left: 34px;
  width: 147px;
  opacity: 0.5;
  font-size: 0.938rem;
  line-height: 24px;
  font-weight: 500;
  color: #FFFFFF;
}
.sessionDuration .tooltip {
  width: 39px;
  height: 25px;
  background-color: #FFFFFF;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recharts-cartesian-axis-ticks {
  font-size: 0.75rem;
  margin-left: 10px;
  margin-right: 10px;
}

.activity {
  grid-area: activity;
  background-color: #FBFBFB;
  padding: 20px;
  position: relative;
  height: 320px;
  border-radius: 5px;
}
.activity_title {
  position: absolute;
  font-size: 0.938rem;
  font-weight: 500;
  margin: 0;
  top: 30px;
  left: 30px;
}
.activity_axis, .activity_legend {
  font-weight: 500;
  font-size: 0.875rem;
}
.activity_legend {
  color: #74798C;
  padding-left: 5px;
}
.activity_tooltip {
  background-color: #E60000;
  color: white;
  font-weight: 500;
  font-size: 0.438rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.activity_tooltip > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 40px;
}

.recharts-tooltip-cursor {
  fill: rgba(204, 204, 204, 0.5);
}

.legend-item-0,
.legend-item-1 {
  padding-left: 25px;
}

.performance {
  background-color: #282D30;
  color: white;
  grid-area: performance;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.score {
  grid-area: score;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FBFBFB;
  border-radius: 5px;
}
.score_title {
  position: absolute;
  font-size: 0.938rem;
  font-weight: 500;
  margin: 0;
  top: 20px;
  left: 20px;
}
.score_results {
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 0;
}
.score_results_percentage {
  text-align: center;
  font-size: 1.625rem;
  line-height: 1;
  font-weight: 700;
  color: #282D30;
  margin-bottom: 3px;
}
.score_results_text {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  color: #74798C;
  text-align: center;
  margin: 0;
}/*# sourceMappingURL=main.css.map */