* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#root {
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  min-height: 780px;
  max-height: 1024px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  margin: 0;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerNav {
  background-color: black;
  min-height: 91px;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 87px 0 26px;
}
.headerNav img {
  height: 57px;
}

.asideNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 250px 50px;
  width: 117px;
  background-color: black;
}
.asideNav nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 316px;
}
.asideNav nav a {
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.asideNav nav a img {
  width: 32px;
}
.asideNav .copyright {
  color: white;
  font-size: 0.75rem;
  display: flex;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(-180deg);
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.results {
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
  width: 100%;
}
.results_title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.results_title span {
  color: #FF0101;
}
.results_subTitle {
  font-size: 1.125rem;
  font-weight: 400;
}

.charts {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "activity activity activity nutrients" "duration profile score nutrients";
  gap: 30px;
}

.charts > div {
  min-height: 100px;
}

.test1 {
  background-color: blue;
  grid-area: activity;
  min-height: 100px;
}

.test2 {
  background-color: red;
  grid-area: nutrients;
  min-height: 100px;
}

.test4 {
  background-color: green;
  grid-area: profile;
  min-height: 100px;
}

.test5 {
  background-color: orange;
  grid-area: score;
  min-height: 100px;
}

.nutrients {
  grid-area: nutrients;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nutrients li {
  width: 258px;
  height: 124px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 32px;
  margin-bottom: 39px;
  background-color: #FBFBFB;
  border-radius: 5px;
}
.nutrients li .icon {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.nutrients li .icon img {
  width: 19px;
}
.nutrients li:last-child {
  margin-bottom: 0;
}
.nutrients h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #282D30;
}
.nutrients p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #74798C;
}
.nutrients_calories {
  background: rgba(255, 0, 0, 0.1);
}
.nutrients_proteines {
  background: rgba(74, 184, 255, 0.1);
}
.nutrients_carbs {
  background: rgba(227, 182, 6, 0.1);
}
.nutrients_fats {
  background: rgba(253, 81, 129, 0.1);
}

.sessionDuration {
  background-color: #FF0101;
  grid-area: duration;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  height: 263px;
  width: 258px;
  position: relative;
  padding-top: 75px;
}
.sessionDuration h2 {
  position: absolute;
  top: 29px;
  left: 34px;
  width: 147px;
  opacity: 0.5;
  font-size: 0.938rem;
  line-height: 24px;
  font-weight: 500;
  color: #FFFFFF;
}
.sessionDuration .tooltip {
  width: 39px;
  height: 25px;
  background-color: #FFFFFF;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recharts-cartesian-axis-tick {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.5;
}

.activity {
  grid-area: activity;
}/*# sourceMappingURL=main.css.map */