.activity{
    grid-area: activity;
    background-color: $color-backgrounds;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 5px;
    &_title{
        position: absolute;
        font-size: 0.938rem;
        font-weight: 500;
        margin: 0;
        top: 30px;
        left: 30px;
    }
    &_axis, &_legend{
        font-weight: 500;
        font-size: 0.875rem;
    }
    &_legend{
        color: $color-chart-texts;
        padding-left: 5px;
    }

    &_tooltip{
        background-color: #E60000;
        color: white;
        font-weight: 500;
        font-size: 0.438rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 40px;
        }
    }

}
.recharts-tooltip-cursor{
    fill: rgba(204, 204, 204, 0.5)
}

.legend-item-0,
.legend-item-1{
    padding-left: 25px;
}